div#error-container {
	border:1px solid gray;
	color: #555;
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	margin:2em auto;
	padding:10px;
	width:600px;
}
div#error-container div {
	height: 150px;
}
div#error-container h1 {
	
	font-size: 18px;
	margin-left: 100px;
}
div#error-container p {
	font-size: 12px;
	margin-left: 100px;
}

	div#acc-error {
		background: transparent url(error_01.gif) no-repeat top left;
	}
	div#acc-suspend {
		background: transparent url(error_02.gif) no-repeat top left;
	}
	div#acc-maint {
		background: transparent url(error_03.gif) no-repeat top left;
	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		