        body {
            font-family: sans-serif;
            font-size: small;
            margin-top: 8em;
            text-align: center;
            background: #fefefe url(../graphics/loginbg.png) top left repeat-x;
        }

        label {
            font-weight: bold;
            display: block;
            margin: 0.5em 0;
        }

		#loginbox_outer {
           	position: relative;
            padding: 1em;
            border: 1px solid #B7B7B7;
            width: 280px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }

        #loginbox_outer.hasDisclaimer {
           	width: 580px;
        }

        #loginbox {
            text-align: left;
            margin: 0 10px;
/*            background: white url(../graphics/ktbg.png) bottom left no-repeat;*/
        }

		#loginbox_skin {
            text-align: left;
            margin: 0 10px;
            background: white url(../powered-by-kt.png) bottom right no-repeat;
		}

        #loginbox.hasDisclaimer {
/*            background: white url(../graphics/ktbg.png) bottom left repeat-x;*/
        }

        #loginbox_skin.hasDisclaimer {
/*            background: white url(../graphics/ktbg.png) bottom left repeat-x;*/
        }

        #formbox {
            border: 0;
            padding: 0;
            margin: 0;
            width: 252px;
            float: left;
        }

        #loginbox.hasDisclaimer #formbox {
            padding-right: 20px;
            border-right: 1px solid #eee;
        }

        #loginbox_skin.hasDisclaimer #formbox {
            padding-right: 20px;
            border-right: 1px solid #eee;
        }

        #disclaimerbox {
            width: 252px;
            float: left;
            padding-left: 0px;
            border-left: 1px solid #eee;
            margin-left: -1px;
            overflow: auto;
        }

        #disclaimerbox p {
            margin-top: 0;
            margin-left: 5px;
            margin-bottom: 1em;
        }

        input {
            border: 1px solid #666;
            width: 250px;
        }

        select {
            border: 1px solid #666;
            margin: 0;
            width: 252px;
        }

        .logoimage {
        }

        .form_actions {
            margin: 1em 0 0 0;
            padding: 1em 0 0 0;
            border-top: 0px solid #eee;
            border-width: 1px 0 0 0;
            text-align: right;
        }

        #loginbox.hasDisclaimer .form_actions {
            padding: 1em 0 6em 0;
            border-width: 0 0 0 0;
        }

        .form_actions input {
            width: auto;
        }

.descriptiveText
{
	margin-top: 5px;
    color: #666;
    clear: both;
}

.descriptiveText.version
{
    font-size: x-small;
}

#bottomspacer {
    height: 0px;
}

/* block level. */
.ktErrorMessage {
	background-color: #ffdd80;
    border: 1px solid #FFC21E;
    margin: 20px auto;
    padding: 10px;
}

.ktErrorMessage span {
    margin-left: 0px;
    padding-left: 25px;
    background: #ffdd80 url(../../thirdparty/icon-theme/16x16/status/dialog-warning.png) center left no-repeat;
}

.floatClear
{
    clear: both;
    height: 1px !important;
    margin: 0; border: 0; padding: 0;
    width: 1px;
}

.communityLabel
{
	color: #919192;
}
